.badge {
    padding: 12px 8px;
    border-radius: 2px;
    font-size: $font-size-medium;
    color: $secondaryColor;
    background-color: $primaryColor;
    font-weight: 500;
    border: none;
    width: fit-content;
}
