$tabletWidth: 520px;
$desktopWidth: 1024px;

$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-large: 20px;

$primaryColor: #1976d2;
$secondaryColor: #fff;
$successColor: #2e7d32;
$dangerousColor: #d32f2f;
$blackColor: #333;
